body {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  font-family: "Courier New", Courier;
  font-size: 20px;
  background-color: lightgray;
}

h1 {
  font-size: 40px;
  font-family: Tahoma;
  font-weight: 900;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-top: 15px;
  width: 29%;
  padding: 10px 0;
  background-color: white;
}

.editor {
  min-height: 400px;
  max-width: 100%;
  border: solid;
  border-width: 0px;
  text-align: left;
  background-color: white;
  padding: 15px;
  box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
  outline: none;
}
